*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", sans-serif;
}

body {
    width: 100%;
    color: white;
}

button {
    background-color: #ffc200;
    border: 0px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
}

button:hover {
    background-color: #c79900;
    transition: all 0.4s linear;
}


.tittle-big{
    font-size: 2.5rem;
}

/*************************************************/

.header-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.header{
    background-color: black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo-container{
    height: 100px;
    
    
  
    
}

.logo-container img{
    border-radius: 100%;
    padding: 0;
    width: 100%;
    height: 100%;
    
} 

.navbar-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 2rem;
    
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-list a {
    color: white;
}
/*****************************************/
.portada-container{
   
    height: 630px;
}

.img-portada{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./imagenes-fabrisio/logo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-portada h2{
    margin-bottom: 50px;
    font-size: 6rem;
}


/****************************************/


.sobre-nosotros-conteiner{
    
    display: flex;
    height: 400px;

}

.img-filosofia{
    width: 35%;
    
}
.img-filosofia img {
    width: 100%;
    height: 100%;
}


.conteiner-filosofia{
    background-color: brown;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    text-align: center;
    gap: 30px;
}

/*******************************/

.entrenamientos-conteiner{
    background-image: url(./imagenes-fabrisio/fondo-entrenamiento-seccion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 0;

}

.fotos-entrenamiento{
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.imagen {

    height: 100%;
    width: 320px;
}

.imagen img{
    height: 100%;
    width: 100%;
}

/********************************/
.propuesta-conteiner{
    background-image: url(./imagenes-fabrisio/gol-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 300px;
    text-align: center;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
/*********************************************/

.testimonios-section{
    
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding:50px 0 ;
    gap: 40px;
}

.testimonios-conteiner{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90%;
}

.testimonio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 100%;
    text-align: center;
    background-color:black;
}
.testimonio p {
    padding: 0 10px;
}

.img{
    
    height: 200px;
    width: 200px;
}

.img img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}


/***************************************/
.footer{
    background-color:#fd611a;
    display: grid;
    
    grid-template-columns:1fr 1fr 1fr ;
    padding: 40px 0;
    

}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:2px solid white;
}

.elemento:nth-child(1){
    display: flex;
    gap: 10px;
}
.elemento:nth-child(2){
    display: flex;
    gap: 20px;
    
}
.elemento:nth-child(3){
    display: flex;
    gap: 20px;
    
}
.boton-arrepentimiento{
    text-decoration: underline;
}

.footer{
    width: 100%;
}
.footer-social i{
    height:30px ;
    width:30px ;

    padding: 6px;
    background-color: black;
    
    border: 1px solid black;
    border-radius: 100%;
}

